beautifulsoup4
certifi
cffi
charset-normalizer
contourpy
curl_cffi
cycler
fonttools
frozendict
idna
kiwisolver
matplotlib
multitasking
numpy
packaging
pandas
peewee
pillow
platformdirs
protobuf
pycparser
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
pytz
requests
scipy
six
soupsieve
typing_extensions
tzdata
urllib3
websockets
yfinance
